
<h1>Inicio da página</h1>

{{#if usandoNode}}
    <p>NodeJs</p>
{{else}}
    <p>Teste</p>
{{/if}}


<table>
   {{#each dados}}
        <tr>
            <td>{{nome}}</td>
            <td>{{idade}}</td>
        </tr>
    {{/each}}
</table>